<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= news.description %>">
    <meta name="author" content="Quve Development">
    <meta property="og:title" content="<%= news.title %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://mathlab.kz/news/<%= news.cyrillicTitle %>">
    <meta property="og:image" content="http://matics.kz/<%= news.photoUrl %>">
    <meta property="og:description" content="<%= news.description %>">
    <title><%= news.title %></title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Yeseva+One|Exo+2:300,400,500,600" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tether.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <% include blocks/metrics %>
    <!--[if IE]><link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all"><script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]-->
</head>

<body class="landing">
    <!-- NAVBAR-->
    <nav class="navbar navbar-toggleable-md navbar-inverse">
        <div class="d-flex align-items-center">
            <button class="navbar-toggler mt-2 ml-2" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Меню">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ml-auto hidden-lg-up" href="/">
                <img src="/images/logo.png" class="d-inline-block align-top" title="Matics - Logo" itemprop="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <a class="navbar-brand navbar-item" href="/">
              <img src="/images/logo.png" class="d-inline-block align-top mr-2 hidden-lg-down" title="Matics - Logo" itemprop="logo">
            </a>
            <ul class="navbar-nav ml-auto mx-4 mt-md-1">
                <li class="nav-item navbar-item ml-4">
                  <a class="nav-link" href="/news">Новости</a>
                </li>
                <li class="nav-item navbar-item mx-4 hidden-lg-up">
                  <a class="nav-link" href="/sign-in">Личный кабинет</a>
                </li>
                <li class="nav-item navbar-item hidden-md-down ml-4">
                  <a class="nav-link btn btn-light-blue px-4" href="/sign-in">Личный кабинет &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- CONTENT-->
    <div class="container main-content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/news">Новости</a></li>
            <li class="breadcrumb-item active"><%= news.title %></li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <article class="col-md-8 col-lg-9">
                <h1 class="post-title"><%= news.title %></h1>
                <div class="post-visualization">
                    <div style="background-image: url(/<%= news.photoUrl %>)" class="post-img"></div>
                    <%= news.body %>
                </div>
                <div class="row">
                    <div class="col-sm-9 pt-3">
                        <h6>Поделитесь новостью с друзьями в соц.сетях и мессенджерах:</h6>
                    </div>
                    <div class="col-sm-3 text-right">
                        <% let year = news.date.getFullYear() %>
                        <% let month = news.date.getMonth() + 1 %>
                        <% let date = news.date.getDate() %>
                        <% if (month < 10) month = '0' + month %>
                        <% if (date < 10) date = '0' + date %>
                        <div class="post-date"><%= date %>.<%= month %>.<%= year %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="share"></div>
                    </div>
                </div>
            </article>
            <aside class="col-md-4 col-lg-3 mt-5 mt-md-0">
                <h4>Вам также может быть это интересно</h4>
                <% newsList.forEach(function(item){ %>
                    <div class="another-news-block">
                        <h4><%= item.title %></h4>
                        <p><%= item.description %></p>
                        <a href="/news/<%= item.cyrillicTitle %>">Читать далее <i aria-hidden="true" class="fa fa-angle-right"></i></a>
                    </div>
                <% }); %>
            </aside>
        </div>
    </div>
    <!-- FOOTER-->
    <% include blocks/footer %>

    <span itemprop="address" style="display: none;">Казахстан, Алматы</span>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css">
    <script>
        $("#share").jsSocials({
        	showCount: true,
        	showLabel: true,
        	shares: ["vkontakte", "facebook", "twitter", "whatsapp", "googleplus", "telegram"]
        });
    </script>
</body>

</html>